{% extends "layout.html" %}
{% block contactactive %}active{% endblock %}
{% block style %}
<style>
  @media screen and (max-width: 900px) {


    .home-about-1 {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }

    .home-about-2 {
      float: left;
      clear: left;
      color: white;
    }

    .home-img-logo {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      height: 150px;
      width: 150px;
      border-radius: 50%;
      border: 3px solid transparent;
      background: linear-gradient(red, rgb(255, 17, 156), blue) padding-box, linear-gradient(to top, rgb(255, 0, 119), rgb(221, 0, 255), rgb(55, 0, 255), rgb(0, 162, 255)) border-box;
    }
  }

  @media screen and (min-width: 901px) {
    .imgbg {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 20px;
      border: 2px solid black;
      border-radius: 15px;
      color: black;
      background-size: cover;
    }

    .home-about-1 {
      float: left;
      width: 25%;
    }

    .home-about-2 {
      float: right;
      color: white;
      width: 75%;
    }

    .home-img-logo {
      height: 150px;
      width: 150px;
      border-radius: 50%;
      border: 3px solid transparent;
      background: linear-gradient(red, rgb(255, 17, 156), blue) padding-box, linear-gradient(to top, rgb(255, 0, 119), rgb(221, 0, 255), rgb(55, 0, 255), rgb(0, 162, 255)) border-box;
    }
  }

  .mainpage {
    width: 100%;
    padding: 2%;
    display: block;
  }
</style>
{% endblock %}
{% block body %}

<div class="p-2" id="home-about">
  <div class="home-about-1">
    <img class="home-img-logo" src="{{url_for('static', filename='images/prashantrawat_selfi.jpg')}}" alt="logo">
  </div>
  <div class="home-about-2 p-3">
    <p>Hello! I'm a dedicated and passionate 15-year-old programmer from Haryana, India. Currently, I am a 10th-grade
      student, and I have been captivated by the world of programming since I was 11. My journey began with a simple
      curiosity about how computers work, and it quickly evolved into a deep-seated love for coding.

      I am proficient in Python, C++, and C, and I have the ability to immerse myself in programming for up to 12 hours
      a day. My enthusiasm for learning and improving my skills is boundless, and I am constantly seeking new challenges
      and opportunities to grow.

      I am always open to suggestions, mentorship, or collaborative opportunities to enhance my learning experience. If
      you have any advice or would like to connect, please feel free to reach out. Let's connect and create something
      amazing together!</p>
  </div>
</div>
<div class="mainpage">
  <p class="mx-2">Hope you like my website !</p>
  <h2>My Past</h2>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem similique sint, quibusdam quo quam cupiditate sit
    autem deserunt sapiente commodi itaque? Iure iste distinctio vitae veritatis eaque reiciendis sed cumque nihil
    nostrum, neque enim accusantium rem dicta aperiam! Facere voluptate magni hic molestias quod labore harum distinctio
    excepturi nulla. Vero doloremque id distinctio repellendus, numquam totam omnis magni dignissimos animi
    necessitatibus, inventore, voluptatibus quibusdam veniam? Quisquam, illo tenetur quasi, dolor deleniti provident
    quibusdam nostrum a molestias non possimus voluptatibus tempora odit quos exercitationem accusantium excepturi,
    magni eum nam? Laboriosam, labore minima voluptates, aliquid quas, maiores ducimus magni veniam ea debitis
    inventore? Sunt harum sit cum quas voluptates? Culpa, temporibus harum. Voluptas autem deserunt ducimus totam sunt
    sapiente, officia quibusdam temporibus iusto rerum commodi quia vero voluptatem similique eligendi reiciendis,
    eveniet nisi aliquam accusamus earum aliquid eum aperiam in! Hic, autem optio. Enim doloremque sit laboriosam
    similique, odit ut quis obcaecati possimus eius illum animi ab architecto provident veniam vitae illo, est quidem!
    Dolorum illum porro hic exercitationem harum praesentium similique aliquid. Perspiciatis cupiditate veniam a,
    quisquam delectus alias, earum amet nemo molestias, itaque excepturi nihil quo? Beatae, quasi eos tempore nobis
    porro enim fugit dignissimos delectus sequi iste libero quaerat.</p>
  <br>
  <h2>Experiance</h2>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem similique sint, quibusdam quo quam cupiditate sit
    autem deserunt sapiente commodi itaque? Iure iste distinctio vitae veritatis eaque reiciendis sed cumque nihil
    nostrum, neque enim accusantium rem dicta aperiam! Facere voluptate magni hic molestias quod labore harum distinctio
    excepturi nulla. Vero doloremque id distinctio repellendus, numquam totam omnis magni dignissimos animi
    necessitatibus, inventore, voluptatibus quibusdam veniam? Quisquam, illo tenetur quasi, dolor deleniti provident
    quibusdam nostrum a molestias non possimus voluptatibus tempora odit quos exercitationem accusantium excepturi,
    magni eum nam? Laboriosam, labore minima voluptates, aliquid quas, maiores ducimus magni veniam ea debitis
    inventore? Sunt harum sit cum quas voluptates? Culpa, temporibus harum. Voluptas autem deserunt ducimus totam sunt
    sapiente, officia quibusdam temporibus iusto rerum commodi quia vero voluptatem similique eligendi reiciendis,
    eveniet nisi aliquam accusamus earum aliquid eum aperiam in! Hic, autem optio. Enim doloremque sit laboriosam
    similique, odit ut quis obcaecati possimus eius illum animi ab architecto provident veniam vitae illo, est quidem!
    Dolorum illum porro hic exercitationem harum praesentium similique aliquid. Perspiciatis cupiditate veniam a,
    quisquam delectus alias, earum amet nemo molestias, itaque excepturi nihil quo? Beatae, quasi eos tempore nobis
    porro enim fugit dignissimos delectus sequi iste libero quaerat.</p>
  <br>
  <h2>What will I do in future ?</h2>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem similique sint, quibusdam quo quam cupiditate sit
    autem deserunt sapiente commodi itaque? Iure iste distinctio vitae veritatis eaque reiciendis sed cumque nihil
    nostrum, neque enim accusantium rem dicta aperiam! Facere voluptate magni hic molestias quod labore harum distinctio
    excepturi nulla. Vero doloremque id distinctio repellendus, numquam totam omnis magni dignissimos animi
    necessitatibus, inventore, voluptatibus quibusdam veniam? Quisquam, illo tenetur quasi, dolor deleniti provident
    quibusdam nostrum a molestias non possimus voluptatibus tempora odit quos exercitationem accusantium excepturi,
    magni eum nam? Laboriosam, labore minima voluptates, aliquid quas, maiores ducimus magni veniam ea debitis
    inventore? Sunt harum sit cum quas voluptates? Culpa, temporibus harum. Voluptas autem deserunt ducimus totam sunt
    sapiente, officia quibusdam temporibus iusto rerum commodi quia vero voluptatem similique eligendi reiciendis,
    eveniet nisi aliquam accusamus earum aliquid eum aperiam in! Hic, autem optio. Enim doloremque sit laboriosam
    similique, odit ut quis obcaecati possimus eius illum animi ab architecto provident veniam vitae illo, est quidem!
    Dolorum illum porro hic exercitationem harum praesentium similique aliquid. Perspiciatis cupiditate veniam a,
    quisquam delectus alias, earum amet nemo molestias, itaque excepturi nihil quo? Beatae, quasi eos tempore nobis
    porro enim fugit dignissimos delectus sequi iste libero quaerat.</p>

</div>
{% endblock %}