{% extends "layout.html" %}
{% block contactactive %}active{% endblock %}
{% block style %}

<style>
    body {
        background-image: url("{{url_for('static',filename='images/aboutme_background.jpg')}}");
        min-height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }


    .mainpage {
        min-height: 100vh;
        margin: 0;
        padding: 0;

        justify-content: center;
        align-items: center;
        color: #FFF;
    }


    .heading {
        text-align: center;
        background-image: linear-gradient(to right, rgba(135, 207, 235, 0.498), rgba(0, 0, 255, 0.514), rgba(255, 0, 230, 0.502), rgba(128, 0, 128, 0.504));
        font-family: "Great Vibes", cursive !important;
        font-weight: 200;
        font-size: 50px;
        font-style: normal;
    }

    .skill-container {
        position: relative;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
        grid-template-rows: auto;
        grid-gap: 0 40px;
    }

    .skill-container .box {
        position: relative;
        height: auto;
        min-width: 250px;
        padding: 0px;
        margin: 5px;
        margin-top: 15px;
        margin-bottom: 15px;
        background: rgba(255, 255, 255, 0.0);
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #000;
        /*overflow:hidden;*/
    }

    .box .content {
        position: relative;
        padding: 25px 15px;
        background: #000000c0;
        color: #FFF;
        /*
  background: #DEDEDE;
  colot:#000;
  */

    }

    .skill-container .box:before {
        content: '';
        position: absolute;
        top: -2px;
        left: -2px;
        bottom: -2px;
        right: -2px;
        /*background:rgba(255,255,255,1);*/
        background: #FFF;
        transform: skew(2deg, 2deg);
        z-index: -1;
    }

    .skill-container .box:nth-child(1):before {
        background: yellow;
        background: linear-gradient(315deg, #ff0057, #e64a19)
    }

    .skill-container .box:nth-child(2):before {
        background: red;
        background: linear-gradient(315deg, #59A600, #008A9C)
    }

    .skill-container .box:nth-child(2):hover:before {
        background: linear-gradient(315deg, #89ff00, #00E2FF)
    }

    .skill-container .box:nth-child(3):before {
        background: lime;
        background: linear-gradient(315deg, #e91e63, #5d02ff)
    }

    .skill-container .box:nth-child(4):before {
        background: blue;
        background: linear-gradient(315deg, #ff0000, #ffc107)
    }


    /*.skill-container .box:after{*/
    .skill-container .tape {
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 0, 0.0);
    }

    .skill-container .tape:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 50%;
        margin-left: 25%;
        background: rgba(255, 255, 255, 0.03);
        background: rgba(0, 0, 0, 0.1);
        pointer-events: none;
        transform: skew(41deg);
        overflow: hidden;
        transition: 0.25s;
        /* 0.5 0.75*/
    }

    .box:hover .tape:after {
        width: 100%;
        margin-left: 0%;
        transform: skew(0deg);
        /*180 0 360 -180 +135 -135*/

    }

    .box .content .pop-img {
        position: absolute;
        top: -20px;
        right: 20px;
        margin: 0;
        padding: 0;
        width: 90px;
        height: 90px;
        transition: 0.25s;
    }

    .box:hover .content .pop-img {
        top: -50px;
    }

    .box .content h3 {
        margin: 0 0 10px;
        padding: 0;
        font-weight: bold;
    }

    .box .content p {
        margin: 0;
        padding: 0;
        color: #DEDEDE;
        /*color:#333;
        font-size: 16px;*/
    }

    .box .content .skillbar {
        position: relative;
        margin: 20px 0 0 0;
        padding: 3px;
        height: 37px;
        color: #FFF;
        font-weight: bold;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        background-color: #e5e5e5;
        border-radius: 15px;
        font-size: 14px;
        content: attr(data-skill);
        transition: 0.5s;
        visibility: hidden;
        transform: translateY(10px);
        opacity: 0;
    }

    .box:hover .content .skillbar {
        visibility: visible;
        opacity: 1;
        transform: translateY(0px);

        &::before {
            content: attr(data-skill);
            display: inline-block;
            padding: 5px 0 5px 10px;
            border-radius: inherit;
            animation: load 2s 0s;
            -webkit-animation: load 2s 0s;
            -moz-animation: load 2s 0s;
            -o-animation: load 2s 0s;
        }

        &.learning::before {
            width: calc(20% - 14px);
            background: #9ac4e9;
        }

        &.basic::before {
            width: calc(40% - 14px);
            background: #71A8D9;
        }

        &.intermediate::before {
            width: calc(60% - 14px);
            background: #3981BF;
        }

        &.advanced::before {
            width: calc(80% - 14px);
            background: #175a93;
        }

        &.expert::before {
            width: calc(100% - 14px);
            background: #163A59;
        }
    }



    @keyframes load {
        from {
            width: 0%
        }
    }

    @-webkit-keyframes load {
        from {
            width: 0%
        }
    }

    @-moz-keyframes load {
        from {
            width: 0%
        }
    }

    @-o-keyframes load {
        from {
            width: 0%
        }
    }




    .gradient-box {
        position: relative;
        margin: 30px auto 50px;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 98%;
        background: linear-gradient(0deg, #000, #272727);
    }

    .gradient-box:before,
    .gradient-box:after {
        content: '';
        position: absolute;
        left: -2px;
        top: -2px;
        background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094,
                #0000ff, #00ff00, #ffff00, #ff0000);
        background-size: 400%;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        z-index: -1;
        animation: steam 20s linear infinite;
    }

    @keyframes steam {
        0% {
            background-position: 0 0;
        }

        50% {
            background-position: 400% 0;
        }

        100% {
            background-position: 0 0;
        }
    }

    .gradient-box:after {
        filter: blur(50px);
    }

    .home-img-logo {
        float: left;
        margin: 60px;
        height: 190px;
        width: 190px;
        border-radius: 50%;
        border: 3px solid transparent;
        background: linear-gradient(red, rgb(255, 17, 156), blue) padding-box, linear-gradient(to top, rgb(255, 0, 119), rgb(221, 0, 255), rgb(55, 0, 255), rgb(0, 162, 255)) border-box;
    }


    .timeline ul {
        --col-gap: 2rem;
        --row-gap: 2rem;
        --line-w: 0.25rem;
        display: grid;
        grid-template-columns: var(--line-w) 1fr;
        grid-auto-columns: max-content;
        column-gap: var(--col-gap);
        list-style: none;
        width: min(60rem, 90%);
        margin-inline: auto;
    }

    /* line */
    .timeline ul::before {
        content: "";
        grid-column: 1;
        grid-row: 1 / span 20;
        background: rgb(225, 225, 225);
        border-radius: calc(var(--line-w) / 2);
    }

    /* columns*/

    /* row gaps */
    .timeline ul li:not(:last-child) {
        margin-bottom: var(--row-gap);
    }

    /* card */
    .timeline ul li {
        grid-column: 2;
        --inlineP: 1.5rem;
        margin-inline: var(--inlineP);
        grid-row: span 2;
        display: grid;
        grid-template-rows: min-content min-content min-content;
    }

    /* date */
    .timeline ul li .date {
        --dateH: 3rem;
        height: var(--dateH);
        margin-inline: calc(var(--inlineP) * -1);

        text-align: center;
        background-color: var(--accent-color);

        color: white;
        font-size: 1.25rem;
        font-weight: 700;

        display: grid;
        place-content: center;
        position: relative;

        border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
    }

    /* date flap */
    .timeline ul li .date::before {
        content: "";
        width: var(--inlineP);
        aspect-ratio: 1;
        background: var(--accent-color);
        background-image: linear-gradient(rgba(0, 0, 0, 0.53) 100%, transparent);
        position: absolute;
        top: 100%;

        clip-path: polygon(0 0, 100% 0, 0 100%);
        right: 0;
    }

    /* circle */
    .timeline ul li .date::after {
        content: "";
        position: absolute;
        width: 2rem;
        aspect-ratio: 1;
        background: var(--bgColor);
        border: 0.3rem solid var(--accent-color);
        border-radius: 50%;
        top: 50%;

        transform: translate(50%, -50%);
        right: calc(100% + var(--col-gap) + var(--line-w) / 2);
    }

    /* title descr */
    .timeline ul li .title,
    .timeline ul li .descr {
        background: rgba(0, 0, 0, 0.385);
        position: relative;
        padding-inline: 1.5rem;
    }

    .timeline ul li .title {
        overflow: hidden;
        padding-block-start: 1.5rem;
        padding-block-end: 1rem;
        font-weight: 500;
    }

    .timeline ul li .descr {
        padding-block-end: 1.5rem;
        font-weight: 300;
    }

    /* shadows */
    .timeline ul li .title::before,
    .timeline ul li .descr::before {
        content: "";
        position: absolute;
        width: 90%;
        height: 0.5rem;
        background: rgb(0, 0, 0);
        left: 50%;
        border-radius: 50%;
        filter: blur(4px);
        transform: translate(-50%, 50%);
    }

    .timeline ul li .title::before {
        bottom: calc(100% + 0.125rem);
    }

    .timeline ul li .descr::before {
        z-index: -1;
        bottom: 0.25rem;
    }

    @media (min-width: 40rem) {
        .timeline ul {
            grid-template-columns: 1fr var(--line-w) 1fr;
        }

        .timeline ul::before {
            grid-column: 2;
        }

        .timeline ul li:nth-child(odd) {
            grid-column: 1;
        }

        .timeline ul li:nth-child(even) {
            grid-column: 3;
        }

        /* start second card */
        .timeline ul li:nth-child(2) {
            grid-row: 2/4;
        }

        .timeline ul li:nth-child(odd) .date::before {
            clip-path: polygon(0 0, 100% 0, 100% 100%);
            left: 0;
        }

        .timeline ul li:nth-child(odd) .date::after {
            transform: translate(-50%, -50%);
            left: calc(100% + var(--col-gap) + var(--line-w) / 2);
        }

        .timeline ul li:nth-child(odd) .date {
            border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
        }
    }
</style>
{% endblock %}
{% block body %}
<div class="mainpage">

    <div class="gradient-box">
        <img class="home-img-logo" src="{{url_for('static', filename='images/prashantrawat_selfi.jpg')}}" alt="logo">
        <div class="content">
            <h1>Hlo boyssss!</h1>
            <p>Krishan Rawat is best coder! VVIP Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique,
                consequuntur. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae exercitationem velit
                cumque blanditiis adipisci obcaecati, facere deleniti unde quibusdam quidem saepe alias ab tempore quia
                a possimus, sed quis autem magnam, nobis itaque. Expedita, aliquid nesciunt nihil explicabo repudiandae
                voluptatibus repellat dolor minima natus eveniet assumenda, commodi rem. Deserunt, unde?</p>
            <h1>FOOL</h1>
        </div>
    </div>
    <h1 class="heading">My Skills</h1>
    <div class="skill-container">
        <div class="box">
            <div class="content">
                <div class="tape"></div>
                <img class="pop-img" src="{{url_for('static', filename='images/pythonlogo.png')}}" alt="logo">
                <h3>Service One</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat neque nesciunt possimus eveniet eius
                    assumenda ipsa modi distinctio, sunt earum voluptatem inventore in vel odio adipisci explicabo sint
                    quibusdam nisi!</p>
                <div class="skillbar advanced" data-skill="Python"></div>

            </div>
        </div>

        <div class="box">
            <div class="content">
                <div class="tape"></div>
                <img class="pop-img" src="{{url_for('static', filename='images/cpplogo.png')}}" alt="logo">
                <h3>Service Two</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat neque nesciunt possimus eveniet
                    eius
                    assumenda ipsa modi distinctio, sunt earum voluptatem inventore in vel odio adipisci explicabo
                    sint
                    quibusdam nisi!</p>
                <div class="skillbar basic" data-skill="C"></div>
            </div>
        </div>

        <div class="box">
            <div class="content">
                <div class="tape"></div>
                <img class="pop-img" src="{{url_for('static', filename='images/clogo.png')}}" alt="logo">
                <h3>Service Three</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat neque nesciunt possimus eveniet
                    eius
                    assumenda ipsa modi distinctio, sunt earum voluptatem inventore in vel odio adipisci explicabo
                    sint
                    quibusdam nisi!</p>
                <div class="skillbar intermediate" data-skill="C++"></div>
            </div>
        </div>

        <div class="box">
            <div class="content">
                <div class="tape"></div>
                <img class="pop-img" src="{{url_for('static', filename='images/flasklogo.png')}}" alt="logo">
                <h3>Service Four</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat neque nesciunt possimus eveniet
                    eius
                    assumenda ipsa modi distinctio, sunt earum voluptatem inventore in vel odio adipisci explicabo
                    sint
                    quibusdam nisi!</p>
                <div class="skillbar advanced" data-skill="Flask"></div>
            </div>
        </div>

    </div>

    <div class="timeline">
        <h1 class="heading">My Journey</h1>
        <ul>
            <li style="--accent-color:#41516C">
                <div class="date">2002</div>
                <div class="title">Title 1</div>
                <div class="descr">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas itaque hic
                    quibusdam
                    fugiat est numquam harum, accusamus suscipit consequatur laboriosam!</div>
            </li>
            <li style="--accent-color:#FBCA3E">
                <div class="date">2007</div>
                <div class="title">Title 2</div>
                <div class="descr">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos adipisci nobis
                    nostrum
                    vero nihil veniam.</div>
            </li>
            <li style="--accent-color:#E24A68">
                <div class="date">2012</div>
                <div class="title">Title 3</div>
                <div class="descr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga minima consequuntur
                    soluta placeat iure totam commodi repellendus ea delectus, libero fugit quod reprehenderit,
                    sequi
                    quo, et dolorum saepe nulla hic.</div>
            </li>
            <li style="--accent-color:#1B5F8C">
                <div class="date">2017</div>
                <div class="title">Title 4</div>
                <div class="descr">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit, cumque.</div>
            </li>
            <li style="--accent-color:#4CADAD">
                <div class="date">2022</div>
                <div class="title">Title 5</div>
                <div class="descr">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, non.</div>
            </li>
        </ul>
    </div>
</div>
{% endblock %}