{% extends "layout.html" %}
{% block blogactive %}active{% endblock %}
{% block style %}
<style>
    @media screen and (min-width: 901px) {
        .imgbg {
            position: relative;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            margin-bottom: 20px;
            padding: 20px;
            border: 2px solid black;
            border-radius: 15px;
            color: black;
            background-size: cover;
        }
    }

    @media screen and (max-width: 900px) {
        .imgbg {
            position: relative;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
            margin-bottom: 10px;
            padding: 20px;
            border: 2px solid black;
            border-radius: 15px;
            color: black;
        }

  }

</style>
{% endblock %}
{% block body %}
<div class="m-3">
  <h1>Latest Blogs</h1>
<table class="table table-dark table-hover">
  <tbody>
    {% for blog in allblogs %}
      <tr>
          <td>{{blog.title}}</td>
          <td><a href="/blogs/{{blog.slug}}">
          <button class="btn btn-warning" >Visit</button></a>
          </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
